@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Karla&display=swap');

@import './base/variables';
@import './layout/nav.scss';
@import './layout/header';
@import './layout/content';
@import './layout/banner';
@import './layout/footer';

html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x:hidden;
}
body {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
main {
	max-width: 1446px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'DM Serif Display';
	font-weight: 400;
}
h1 {
	font-size: 4rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2rem;
}
a,
p {
	font-family: 'Karla';
	font-weight: 400;
	font-size: 16px;
	line-height: 2;
}
