.header__container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 1446px;
	& .weird-pattern-left {
		position: absolute;
		left: 0;
		top: 40vh;
	}
	& .weird-pattern-right {
		top: -15vh;
		right: 0;
		position: absolute;
	}
	&--bg {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		height: 60vh;
		background: $dark-violet;
		display: flex;
		width: 100%;
	}
	&--inner {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		width: 75%;
		max-width: 75%;
		margin: 4rem 0;
		background: transparent;
		&--left {
			display: flex;
			flex-direction: column;
			width: 100%;
			&--heading {
				display: flex;
				flex-direction: column;
				justify-content: center;
				& hr {
					border: 0px;
					width: 7rem;
					height: 1px;
					display: block;
					background: #fff;
					align-self: flex-start;
					margin: 0;
				}
			}
			& h1 {
				color: #fff;
				position: relative;
				margin: 0;
			}

			&--text {
				& p {
					color: #fff;
					max-width: 25rem;
				}
			}
			& button {
				color: #fff;
				border: 1px solid #fff;
				background: transparent;
				transition: all 0.3s ease-in-out;
				padding: 0.5rem 1rem;
				max-width: 8rem;
				text-transform: uppercase;
				&:hover {
					cursor: pointer;
					color: $dark-violet;
					background: #fff;
				}
			}
		}
		&--right {
			width: 100%;
		}
	}
}
