@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display|Karla&display=swap");
.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  min-height: 4rem;
  width: 100%;
  position: relative;
  z-index: 99999; }
  .nav__container--right {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-content: center;
    gap: 1rem; }
    .nav__container--right a {
      text-transform: uppercase;
      padding: 0.5rem 1rem;
      color: #95a9c6;
      transition: all 0.3s ease-in-out; }
      .nav__container--right a:hover {
        cursor: pointer;
        color: #222; }
    .nav__container--right a:last-child {
      color: #222;
      border: 1px solid #666;
      transition: all 0.3s ease-in-out; }
      .nav__container--right a:last-child:hover {
        cursor: pointer;
        color: #fff;
        background: #222; }

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1446px; }
  .header__container .weird-pattern-left {
    position: absolute;
    left: 0;
    top: 40vh; }
  .header__container .weird-pattern-right {
    top: -15vh;
    right: 0;
    position: absolute; }
  .header__container--bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 60vh;
    background: #2d2640;
    display: flex;
    width: 100%; }
  .header__container--inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 75%;
    max-width: 75%;
    margin: 4rem 0;
    background: transparent; }
    .header__container--inner--left {
      display: flex;
      flex-direction: column;
      width: 100%; }
      .header__container--inner--left--heading {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .header__container--inner--left--heading hr {
          border: 0px;
          width: 7rem;
          height: 1px;
          display: block;
          background: #fff;
          align-self: flex-start;
          margin: 0; }
      .header__container--inner--left h1 {
        color: #fff;
        position: relative;
        margin: 0; }
      .header__container--inner--left--text p {
        color: #fff;
        max-width: 25rem; }
      .header__container--inner--left button {
        color: #fff;
        border: 1px solid #fff;
        background: transparent;
        transition: all 0.3s ease-in-out;
        padding: 0.5rem 1rem;
        max-width: 8rem;
        text-transform: uppercase; }
        .header__container--inner--left button:hover {
          cursor: pointer;
          color: #2d2640;
          background: #fff; }
    .header__container--inner--right {
      width: 100%; }

.content__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .content__container--inner {
    width: 75%;
    max-width: 75%;
    display: flex;
    flex-direction: column; }
    .content__container--inner--heading {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
      .content__container--inner--heading hr {
        border: 0px;
        width: 7rem;
        height: 1px;
        display: block;
        background: #2d2640;
        align-self: flex-start;
        margin: 0; }
    .content__container--inner--grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      gap: 2rem; }
      .content__container--inner--grid--column {
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        .content__container--inner--grid--column p {
          color: #95a9c6; }

.banner__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4rem 0; }
  .banner__container--inner {
    background: #2d2640;
    width: 75%;
    max-width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative; }
    .banner__container--inner svg {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
      max-height: 100%; }
    .banner__container--inner h2 {
      color: #fff;
      z-index: 2; }
    .banner__container--inner--button-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      z-index: 2; }
      .banner__container--inner--button-container button {
        color: #fff;
        border: 1px solid #fff;
        background: transparent;
        transition: all 0.3s ease-in-out;
        padding: 0.5rem 1rem;
        min-width: 8rem;
        text-transform: uppercase; }
        .banner__container--inner--button-container button:hover {
          cursor: pointer;
          color: #2d2640;
          background: #fff; }

.footer__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #f3f3f3;
  position: relative; }
  .footer__container--pattern {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; }
  .footer__container--inner {
    z-index: 1;
    width: 75%;
    max-width: 75%;
    display: flex;
    flex-direction: column; }
    .footer__container--inner--brand-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 0;
      border-bottom: 1px solid #e6e6e6; }
      .footer__container--inner--brand-section--social {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem; }
        .footer__container--inner--brand-section--social svg {
          fill: #837d87;
          stroke: #837d87;
          transition: all 0.3s ease-in-out; }
          .footer__container--inner--brand-section--social svg:hover {
            cursor: pointer;
            fill: #2d2640;
            stroke: #2d2640; }
    .footer__container--inner--grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem; }
      .footer__container--inner--grid--column ul {
        display: flex;
        flex-direction: column;
        padding: 0; }
        .footer__container--inner--grid--column ul li {
          list-style: none;
          text-transform: uppercase; }
        .footer__container--inner--grid--column ul li:first-child {
          color: #95a9c6;
          margin: 1rem 0; }

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }

main {
  max-width: 1446px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display';
  font-weight: 400; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2rem; }

a,
p,
li {
  font-family: 'Karla';
  font-weight: 400;
  font-size: 16px;
  line-height: 2; }
